{% extends "base.html" %}
{% block title %} Amaliz - Django{% endblock %}
{% block javascripthead %}
<script language="javascript" type="text/javascript" src="https://raw.github.com/flot/flot/master/jquery.js"></script>
<script language="javascript" type="text/javascript" src="https://raw.github.com/flot/flot/master/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="https://raw.github.com/flot/flot/master/jquery.flot.categories.js"></script>
<script language="javascript" type="text/javascript" src="../static/js/amaliz.js"></script>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function(){
      makeWeaponGraph("amaliz");
      

      });
function weaponuserClick(){
  var user = $("#userName").val();
  if(user){
    makeWeaponGraph(user);
    }
}
</script>
{% endblock %}

{% block content %}
<h1>Weapon Deaths</h1>
<div class="demo-container">
	<div id="wepgraph" class="demo-placeholder"></div>
</div>
<div class="input-append">
  <input class="span2" id="userName" type="text" name ="user"/>
  <button class="btn" type="button" onclick="weaponuserClick()">Get the stuff!</button>
</div>
{% if not session.logged_in %}
  <p>You are not logged in.</p>
{% else %}
  <p>You are logged in.</p>
{% endif %}
{% endblock %}
