{% extends "base.html" %}
{% block title %} Amaliz - Django{% endblock %}
{% block javascripthead %}
<script language="javascript" type="text/javascript" src="https://raw.github.com/flot/flot/master/jquery.js"></script>
<script language="javascript" type="text/javascript" src="https://raw.github.com/flot/flot/master/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="https://raw.github.com/flot/flot/master/jquery.flot.categories.js"></script>
<script language="javascript" type="text/javascript" src="https://raw.github.com/flot/flot/master/jquery.flot.resize.js"></script>
<script language="javascript" type="text/javascript" src="../static/js/amaliz.js"></script>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function(){
      makeWeaponGraph("amaliz");
      

      });
function weaponuserClick(){
  var user = $("#userName").val();
  if(user){
    makeWeaponGraph(user);
    }
}
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <li>
      <a href="#weapondeaths" class="sidebarlink">
        <i class="icon-chevron-right"></i>
        Weapon Deaths</a>
      </li>
      <li>
      <a href="#someplace" class="sidebarlink">
        <i class="icon-chevron-right"></i>
        Someplace</a>
      </li>
    </ul>
  </div>
  <div class="span9">
    <section id="weapondeaths">
      <div class="page-header">
        <h1>Weapon Deaths</h1>
      </div>
      <div class="demo-container">
        <div id="wepgraph" class="demo-placeholder"></div>
      </div>
      <div class="input-append">
        <input class="span2" id="userName" type="text" name ="user"/>
        <button class="btn" type="button" onclick="weaponuserClick()">Get the stuff!</button>
      </div>
    </section>
  </div>
</div>
{% endblock %}
