{% extends "base.html" %}
{% block title %} Amaliz - Django{% endblock %}
{% block javascripthead %}
<script language="javascript" type="text/javascript" src="../static/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../static/js/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="../static/js//jquery.flot.categories.min.js"></script>
<script language="javascript" type="text/javascript" src="../static/js/amaliz.js"></script>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function () {
 var dat = [];
var plot = makeGraph([dat],"#graphplaceholder");
  $.ajax({
type: "GET", 
async: true,
url:"/brank/amaliz",
dataType:"json",
success: 
function(data){
var chr = data.character_list[0]
dat.push([ chr.name.first,chr.experience[0].rank])
addToGraph(plot,dat);
  },
error: function(request, errorText, errorCode){alert(errorText);} });
  $.ajax({
type: "GET", 
async: true,
url:"/brank/gunmancer",
dataType:"json",
success: 
function(data){
var chr = data.character_list[0]
dat.push([ chr.name.first,chr.experience[0].rank]);
addToGraph(plot,dat);
  },
error: function(request, errorText, errorCode){alert(errorText);} });
makeWeaponGraph();
});
</script>
{% endblock %}

{% block content %}
<h1>Battle Rank</h1>
<div class="demo-container">
	<div id="graphplaceholder" class="demo-placeholder"></div>
	<div id="wepgraph" class="demo-placeholder"></div>
</div>
{% if not session.logged_in %}
  <p>You are not logged in.</p>
{% else %}
  <p>You are logged in.</p>
{% endif %}
{% endblock %}
